# Supabase Configuration
SUPABASE_URL=https://rdabdvyvqsyxliyovzat.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkYWJkdnl2cXN5eGxpeW92emF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MzQ1MTksImV4cCI6MjA5MTMxMDUxOX0.hP7W99ZSilz1bR6daSGtyC29elcmpGw0hVvNR3c7GsE

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
